
.doctor-who-content img
        {
        float:left;
        margin-right: 35px;
        margin-bottom: 35px;
        margin-left: 35px;
        }
		body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background-color: #1C1C1C;
        line-height: 30px;
}
td {
        background-color: #A0ABC9;
        text-align: left;
        vertical-align: top;
}

.wrapper {
        width: 950px;
        margin-right: auto;
        margin-left: auto;
}
.doctor-who-content p {
        padding-right: 25px;
        line-height: 30px;
}
.doctor-who-content {
        background-color: #DADEE3;
        padding-top: 10px;
        padding-right: 50px;
}